{% extends "layouts/boilerplate.html" %}
{% set active_page = "customer-profile" %}
{% from "macros/store_info.html" import render_store_info %}

{% block body %}

<div class="customer-header row">

  <div class="small-4 columns">
    <img class="right store-logo th" src="{{ url_for('.map_image') }}">
  </div>

  <div class="small-8 columns">
    <h3 class="title">{{ customer.firm }}</h3>
    <ul class="small-block-grid-3">
      {{ render_store_info(customer) }}
      <li>
        <a href="#">Bearbeiten</a>
      </li>
    </ul>
  </div>

</div>

<ul class="customer-body row small-block-grid-1 medium-block-grid-2 large-block-grid-3">

  <li class="store-section">
    <div class="small-6 columns">Angelegte Stores</div>
    <dl class="accordion" data-accordion>
      {% for store in stores %}
      <dd class="accordion-navigation">
        <a href="#store{{store.id}}" class="accordion-entry">
          <div class="small-2 columns">
            <img class="store-logo th" src="{{ url_for('static', filename = customer.image_path) }}">
          </div>

          <div class="small-10 columns">
            <h4 class="title">{{store.name}}</h4>
          </div>
        </a>
        <div id="store{{store.id}}" class="content">
          <a href="#">Storemanager ändern</a>
          <a href="#">Storedetails</a>
        </div>
      </dd>
      {% endfor %}
    </dl>
  </li>

  <li class="manager-section">
    <div class="small-6 columns">Storemanager</div>
    <dl class="accordion" data-accordion>
      {% for manager in managers %}
      <dd class="accordion-navigation">
        <a href="#manager{{manager.id}}" class="accordion-entry">
          <div class="small-2 columns">
            <img class="profile-thumb" src="{{ url_for('static', filename = manager.image_path) }}">
          </div>

          <div class="small-10 columns">
          <h4 class="title">{{manager.full_name}}</h4>
          </div>
        </a>
        <div id="manager{{manager.id}}" class="content">
          <a href="#">Entfernen</a>

          <a href="#">Store zuweisen</a>
        </div>
      </dd>
      {% endfor %}
    </dl>
  </li>

  <li class="kb-device-section">
    <div class="small-6 columns">Registrierte Stempel</div>
    <dl class="accordion" data-accordion>
      {% for kb_device in kb_devices %}
      <dd class="accordion-navigation">
        <a href="#kb_device{{kb_device.id}}" class="accordion-entry">
          <div class="small-2 columns">
          <img class="round-thumb" src="{{ url_for('static', filename = customer.image_path) }}">
          </div>

          <div class="small-10 columns">
            <h4 class="title">{{kb_device.name}}</h4>
            <p class="subtitle">{{kb_device.store.name}}</p>
          </div>
        </a>
        <div id="kb_device{{kb_device.id}}" class="content">
        <ul>
          <li>kb vergeben - 14:32 04.10.2014</li>
          <li>Reward vergeben - 14:32 02.10.2014</li>
          <li>kb vergeben - 14:32 03.10.2014</li>
        </ul>
        <a href="#">Vollständige Stempelnutzung anzeigen ></a>
        <a href="#">Umbennen</a>
        </div>
      </dd>
      {% endfor %}
    </dl>
  </li>

</div>

{% endblock %}
