{% extends "layouts/boilerplate.html" %}
{% set active_page = "stores" %}
{% from "macros/forms.html" import render_field %}

{% block body %}

<div class="row">
  <div class="small-12 columns">
    <h1>Reward erstellen</h1>
    <hr>
    <form action="/rewards/create" method="post">
      {{ form.hidden_tag() }}

      {{ render_field(form.name) }}

      <div class="row">
      {{ render_field(form.start, with_label=True, seperate_row=False,
                      container="small-6 columns", row=False) }}
      {{ render_field(form.end, with_label=True, seperate_row=False,
                      container="small-6 columns", row=False) }}
      </div>

      {{ render_field(form.stores) }}
      {{ render_field(form.number_of_kbs_necessary) }}

      <input class="button" type="submit" value="Fortfahren" />
    </form>
  </div>
</div>

{% endblock %}
