{% extends "layouts/boilerplate.html" %}
{% set active_page = "stores" %}
{% from "macros/store_info.html" import render_store_info %}

{% block body %}

<div class="storelist row fixed-width">
  <div class="small-6 columns">Ihre Stores</div>

  <ul class="small-12 columns store-section">

    {% for store in stores %}
    <li class="store-container row">
      <div class="small-3 columns">
        <a href="{{ url_for('stores.detail',store_id=store.id) }}"><img class="right store-logo th" src="{{ url_for('static', filename=store.customer.image_path) }}"></a>
      </div>

      <div class="small-8 columns">
        <a href="{{ url_for('stores.detail',store_id=store.id) }}"><h3 class"title">{{store.name}}</h3></a>
        <ul class="small-block-grid-3 show-for-medium-up">
          {{ render_store_info(store) }}
        </ul>
      </div>
      
      <div class="small-1 columns disclosure-indicator">
        <a href="{{ url_for('stores.detail',store_id=store.id) }}"><span class="chevron"></span></a>
      </div>
      
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
