{% extends "layouts/boilerplate.html" %}
{% set active_page = "stores" %}
{% from "macros/forms.html" import render_field %}

{% block body %}

<div class="row">
  <div class="small-12 columns">
    <h1>Store anlegen</h1>
    <hr>
    <form action="{{ url_for('stores.create_store') }}" method="post">
      {{ form.hidden_tag() }}

      {{ render_field(form.name) }}
      {{ render_field(form.address) }}
      {{ render_field(form.city) }}
      {{ render_field(form.zip_code) }}
      {{ render_field(form.country) }}
      {{ render_field(form.phone) }}
      {{ render_field(form.email) }}
      {{ render_field(form.managers) }}

      <input class="button" type="submit" value="Fortfahren" />
    </form>
  </div>
</div>

{% endblock %}
