{% extends "layouts/boilerplate.html" %}
{% set active_page = "user-profile" %}
{% from "macros/store_info.html" import render_store_info %}

{% block body %}

<div class="customer-header row">

  <div class="small-4 columns">
    <div class="right store-logo th profile-image">
      <img src="{{ url_for('static', filename = user.image_path) }}">
      <a href="#">Bild auswählen</a>
    </div>
  </div>

  <div class="small-8 columns">
    <h3 class="title">{{ user.full_name }}</h3>
    <ul class="small-block-grid-3">

      <li>
        <a href="#">Bearbeiten</a>
      </li>
    </ul>
  </div>

</div>

<div class="storelist row fixed-width">
    <h4>Zugewiesene Stores</h4>
    <hr>
    {% for store in stores %}
    <li class="store-container small-12 columns store-section">
      <div class="small-3 columns">
        <a href="{{ url_for('stores.detail',store_id=store.id) }}"><img class="right store-logo th" src="{{ url_for('static', filename=store.customer.image_path) }}"></a>
      </div>

      <div class="small-8 columns">
        <a href="{{ url_for('stores.detail',store_id=store.id) }}"><h3 class"title">{{store.name}}</h3></a>
        <ul class="small-block-grid-3 show-for-medium-up">
          {{ render_store_info(store) }}
        </ul>
      </div>

      <div class="small-1 columns disclosure-indicator">
        <a href="{{ url_for('stores.detail',store_id=store.id) }}"><span class="chevron"></span></a>
      </div>

    </li>
    {% endfor %}
  </ul>
</div>

<div class="managers row fixed-width">
    <h4>Storemanager</h4>
    <hr>
    {% for manager in managers %}
    <li class="store-container small-12 columns store-section">
      <div class="small-4 columns">
        <img class="profile-thumb" src="{{ url_for('static', filename = manager.image_path) }}">
      </div>

      <div class="small-8 columns">
        <h3 class"title">{{manager.full_name}}</h3>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


{% endblock %}
