# Common Files
.DS_Store
.project
.pydevproject
.settings
.coverage
.vagrant*
*.pyc
rcfile.*
!*.example
*#*
*~*
nosetests.xml
build/
docs/_build
*.backup*
man/*
# Project Files
.webassets-cache
instance
settings.cfg
kb/bin
kb/lib
kb/include
pyenv
files
kb/frontend/static/css/
kb/frontend/static/css/kb.css
kb/frontend/static/js/*
!kb/frontend/static/js/*/
kb/frontend/static/bower_components/
kb/frontend/static/scss/.sass-cache/
kb/frontend/static/js/vendor/morris-custom-1.js
kb/frontend/static/css/kb.min.css
kb/frontend/static/js/vendor.min.js

*.sublime-project
*.sublime-workspace
