{% set navigation_bar = [
  ('dashboard.index', 'dashboard', 'Dashboard'),
  ('stores.index', 'stores', 'Stores'),
  ('customer-profile.index', 'customer-profile', 'Kundenprofil')
  ] -%}

  <nav class="topbar">
    <div class="topbar-top">
      <ul class="left">
        <li class="name">
          <a href="{{ url_for('dashboard.index') }}">
            <img src="{{ url_for('static', filename = 'img/kb-logo-122.png') }}">
          </a>
        </li>
      </ul>
      <div class="right">
        <a data-dropdown="profile" data-options="is_hover:true" aria-controls="profile" aria-expanded="true">
          <img class="profile-thumb" src="{{ url_for('static', filename = current_user.image_path) }}"> {{current_user.full_name}}
        </a><br>
        <ul id="profile" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false">
          <li role="menuitem"><a href="{{ url_for('user-profile.index') }}">Profil</a></li>
          <li role="menuitem"><a href="{{ url_for('security.logout') }}">Logout</a></li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="topbar-bottom">
      <ul class="topbar-nav left">
        {% for link, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif %}>
          <a class="global-nav__link" href="{{ url_for(link) }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="right">
        <!-- inline css is temporary fix for dropdown alignment -->
        <a style="padding-left: 25px;" data-dropdown="add" data-options="is_hover:true" aria-controls="add" aria-expanded="true">Hinzufügen</a><br>
        <ul id="add" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false">
          <li role="menuitem"><a href="{{ url_for('shouts.create_shout') }}">Shout</a></li>
          <li role="menuitem"><a href="{{ url_for('rewards.create_reward') }}">Reward</a></li>
          <li role="menuitem"><a href="{{ url_for('stores.create_store') }}">Store</a></li>
          <li role="menuitem"><a href="{{ url_for('managers.create_manager') }}">Storemanager</a></li>
        </ul>
      </div>
    </div>
  </nav>
