html {
  box-sizing: border-box !important;
}
*, *:before, *:after {
  box-sizing: inherit !important;
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
}
.fixed-width {
  max-width: 960px;
}

.chevron::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 15px;
	position: relative;
	transform: rotate(45deg);
	vertical-align: middle;
	width: 15px;
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin round {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.disclosure-indicator {
  height: 160px;

  & > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    & > .chevron {
      @include vertical-align;
    }
  }
}


ul, li {
  list-style: none;
}

//----------------------------------------------
//---------   topbar    ------------------------
//----------------------------------------------

.topbar {
  padding: 10px 20px;
  margin-bottom: 25px;

  ul {
    padding: 0;
    margin: 0;
  }
  hr {
    margin: 0;
    height: 1px;
    border: none;
    background: #ccc;
  }
  a {
    width: 100%;
    height: 100%;
  }
}
.topbar-top {
  height: 30px;
  line-height: 35px;
  margin-bottom: 10px;
}
.topbar-bottom {
  height: 20px;
  line-height: 25px;
  margin-top: 10px;
}
.topbar-nav {
  li {
    display: inline-block;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-image: url('../img/buttons/sprite.png');
    line-height: 20px;
    color: #999;

    &:nth-child(2) {
      background-position: 0 -60px;
    }
    &:nth-child(3) {
      background-position: 0 -120px;
    }
    &:hover {
      color: #666;
      &:nth-child(1) {
        background-position: 0 -20px;
      }
      &:nth-child(2) {
        background-position: 0 -80px;
      }
      &:nth-child(3) {
        background-position: 0 -140px;
      }
    }
    &.active {
      color: #00d97e;
      &:nth-child(1) {
        background-position: 0 -40px;
      }
      &:nth-child(2) {
        background-position: 0 -100px;
      }
      &:nth-child(3) {
        background-position: 0 -160px;
      }
    }
  }
  a {
    display: block;
    padding-left: 33px;
    text-decoration: none;
    color: inherit;
  }
}
.profile-thumb {
  @include round;
  width: 30px;
  height: 30px;
}

//----------CSS DROPDOWN-------------------------------------
// the following code isnt needed as of right now,
// might be useful if foundation gets dropped (once again)
// for the dropdown menus
//-----------------------------------------------------------
/*
.dropdown-sup {
  text-align: right;
  box-sizing: content-box;
}
.dropdown-sub {
  display: none;
}
.dropdown-sup > li:hover {
  background: #eee;
  border: 10px solid #eee;

  .dropdown-sub {
    display: block;
    height: 100%;
  }
}*/
.f-dropdown {
  text-align: right;
  width: 105px;
}


.center-text {
  text-align: center;
}


#store-panel-2 {
  background-image: linear-gradient(180deg, transparent, $primary-color, transparent);
  background-position: 100px;
  background-size: 3px 1px;
  background-repeat: repeat-y;

  .rewards-list {
    padding-top: 25px;
  }
}
.kb-circle {
  color: $primary-color;

  & > div {
    height: 124px;
    width: 124px;
    border: 3px solid $primary-color;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
  }
  h1, p {
    color: inherit;
  }
}

.customer-body .round-thumb {
  width: 35px;
  max-width: 35px;
}

.profile-image {
  @include round;
  position: relative;
  width: 200px;
  height: 200px;
  line-height: 200px;

  & > img {
    position: absolute;
    @include round;
  }
  & > a {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    line-height: inherit;
    text-align: center;
  }
  &:hover > a {
    display: block;
    background-color: rgba(255,255,255,.5);
  }
}


@import "login";

.container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 36px;
  background-color: #fff;
  border-top: solid 1px $primary-gray;
  border-bottom: solid 1px $primary-gray;
}

.title,
strong {
  color: $primary-color;
}

select {
  font-family: $body-font-family;
}

.switch {
  padding-top: 6px;
}

// Dashboard

.kpi-section {
  margin: 0 auto;
}

.kpi-container {

  & > div {
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97px;
    height: 52px;
  }

  .kpi-value {
    padding-top: 10px;
    font-size: 28px;
    font-weight: 200;
    color: $dark-gray;
    -webkit-font-smoothing: antialiased;
  }

  .kpi-label {
    margin-top: -8px;
    font-size: 14px;
    color: $dark-gray;

    -webkit-font-smoothing: antialiased;

  }
}


.graph-section {
  .graph-content {
    max-width: 100%;
    padding: 20px;

    border: solid 1px #ddd;
  }

  .graph-loading-indicator {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
  }

  .graph {
    width: 100%;
    height: 280px;
  }
}




// Stores

.store-container {
  min-height: 64px;
  // padding-bottom: 20px;
  // max-height: 100px;
  height: 214px;
  border-bottom: 1px solid $light-gray;
  border-spacing: 6px;
}

.store-logo {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}





.morris-hover {
  position: absolute;
  z-index: 1000;

  border-radius: 3px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, .8);
  border: solid 2px rgba(230, 230, 230, .8);

  font-size: 12px;
  text-align: center;

  .morris-hover-row-label {
    font-weight: bold;
    margin: .25em 0;
  }

  .morris-hover-point {
    white-space: nowrap;
    margin: .1em 0;
  }

}


//----------------------------------------------
//---------  accordion  ------------------------
//----------------------------------------------


.accordion-entry {
  display: block;
  height: 83px;
  background-color: #fff !important;
  border-top: solid 1px $primary-gray;

  .entry-icon {
    height: 100%;

    & > .store-logo {
      height: 50px;
    }
  }
}

.kb-device-section {
  margin-top: 40px;
}

.store-section, .manager-section, .kb-device-section {
  margin: 20px auto;

  .accordion {
    padding-top: 40px;
  }

  .title {
    margin: 0;
    color: #222;
  }
}

.round-thumb {
  @include round;
  width: 35px;
  height: 35px;
}


.row {
  padding-left: 20px;
}
