html {
  box-sizing: border-box !important;
}
*, *:before, *:after {
  box-sizing: inherit !important;
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
}
